/* src/App.css */
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.content {
  z-index: 1;
  -webkit-text-stroke: 1.5px black;
  opacity: 0.8;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.timer {
  font-size: 4rem;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}
